.jumbotron {
    margin: 0px;
    padding: 30px;
    background-image: url(/images/dreamstime_l_171881560_cropped.jpg);  
    margin-bottom: -55px;
}

.fitted-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.btn-nucamp {
    background-color: #0096db;
    color: white;
}

.display-1 {
    font-weight: 500;
}

.btn-xlg {
    padding:.5rem 1rem;
    font-size:3rem;
    font-weight: 500;
    line-height:1.5;
    border-radius:.3rem
}

.btn-xlg+ {
    padding-right:.75rem;
    padding-left:.75rem
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.parallax-window {
    /*min-height: 400px;*/
    width: auto;
    height: 100vh;
    background: transparent;
}

.site-footer {
    background-image: linear-gradient();
    color: white;
    padding: 20px;
}

.menu-scroll-down {
   scroll-behavior: smooth;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
}
  
.carousel {
    border: 1px groove black;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}